<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838694336148-qvir0b6rn3ivb0d8cp1aj48iigjepkck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838694336148-qvir0b6rn3ivb0d8cp1aj48iigjepkck</string>
	<key>API_KEY</key>
	<string>AIzaSyCMpiWkjF0twNR-s4M82qnhBSb0cLkMg8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>838694336148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tgsatt.laundry</string>
	<key>PROJECT_ID</key>
	<string>laundry-d3c3d</string>
	<key>STORAGE_BUCKET</key>
	<string>laundry-d3c3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838694336148:ios:a53bc394dd453c6ec8e681</string>
</dict>
</plist>